<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Community</h2>
                <hr class="light">
                <p class="text-faded">The Community App is a project conceived in March 2020 by Snehita Sana and Nina Zanarelli in response to the rapid escalation of COVID-19 and subsequent closing of campuses by universities across the country. Nina and Snehita wanted to make an application that would help rebuild the CMU community as classes continued to remain remote for the summer and fall semesters. With the help of a team of like-minded CMU students, they worked hard to build the app and have it open to CMU students during the fall 2020 semester. The Community app will enable students to make new friends, participate in online club events, easily form study groups with fellow classmates, and gain access to important resources to feel supported during this difficult time in all our lives.</p>
            </div>
        </div>
    </div>
</section>
