<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/NINAZANARELLI.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nina Zanarelli
                            </div>
                            <div class="project-name">
                                Nina is an Italian girl who spent one semester at CMU where she decided to start this project with her co-founder Snehita. She is an art enthusiast who loves travel and meet new people from all over the world!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
