<section id="press">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Articles about us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <section class="no-padding" id="team">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/articolo2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Pittsburgh Post-Gazette
                                </div>
                                <a class="project-name" href="https://www.post-gazette.com/news/education/2020/11/12/Carnegie-Mellon-University-app-iPhone-Sana-Zanarelli-Design-mental-health-students-campus/stories/202011050118">
                                    Read the full article >
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/team/SNEHITA.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Snehita Sana
                                </div>
                                <div class="project-name">
                                    Snehita is a rising senior at CMU! Snehita is an active part of the Undergraduate Entrepreneurship Association and International Student Union on campus. In her free time, she loves to read, eat chocolate, and work on her photography. 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/team/SARAYU.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Sarayu Namineni
                                </div>
                                <div class="project-name">
                                    Despite hailing from sunny California, Sarayu spends all her time indoors, curled up around her laptop or a good book! 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


