<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">I was born on December 5, 1998 in Milan, I share some of its characteristics: I am often chaotic and restless although organized and 'performing', humoral but tend to be lively and positive, empathetic and curious about others. Colour and design have always been the tools of my creativity and the language of my storytelling. The passion for design follows as a space of great concentration in which to reorder and concretize the idea and the emotion; the moment of synthesis that brings peace and quiet.
                    I am a student in Interior Design at the Politecnico di Milano, a lively and highly qualified context where I can grow in comparison and sharing; the place where I can learn to create together appreciating and enhancing every contribution made by the individual to the team. I have always been eager to meet and experiment, thanks to the Erasmus project I also attended a valuable semester at Carnegie Mellon University in Pittsburgh: a wonderful melting pot of cultures and different ways of making design in which I had the opportunity to acquire new tools and awareness.</p>
            </div>
        </div>
    </div>
</section>
