<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Community</h2>
                <hr class="light">
                <p class="text-faded">The Community App is a project started during March 2020 in response to the rapid spread of the coronavirus and the consequent closure of universities. Nina and Snehita decided to create an application that would make the transition to online classes less stressful, trying to recreate the atmosphere on campus. With the help of a team of students they worked during the summer so that from the beginning of the Fall Semester students can take advantage of this service. Thanks to this app it will be possible to meet new students, participate in online events and keep informed about what is happening on campus even for those who decide not to return to Pittsburgh; it will also allow students at the University to meet new classmates with whom they can support themselves during this difficult time.</p>
            </div>
        </div>
    </div>
</section>
