<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="light">
                <p>We are always improving our app so that you will always find it helpful. The best way for us to help us improve your experience is for us to receive feedback from YOU. If you have any questions and/or comments, feel free to email us!</p>
                <a href="mailto:{{ site.email }}">
                    <h3 style="color: floralwhite;">Contact us</h3>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="terms" id="download">
    <a>© Copyright 2020 Pralent, Inc. All Rights Reserved.</a>
    <a href="https://thecollegecommunity.com/TermsOfService.pdf?fbclid=IwAR3nw9CKYkgW--Nzso3nQx4g1BHyQart0dJgiCk6FIM3vDT1rCcZbKNQr2w">Terms of Service</a>
    <a href="https://thecollegecommunity.com/PrivacyPolicy.pdf?fbclid=IwAR3nw9CKYkgW--Nzso3nQx4g1BHyQart0dJgiCk6FIM3vDT1rCcZbKNQr2w">Privacy Policy</a>
  </div> 
  
  
  
  <div class="container">
      <div class="row text-center">
          <br/>
          <p>
              <a href="#" class="btn btn-store">
                  <span class="fa fa-apple fa-3x pull-left"></span> 
                  <span class="btn-label">Download on the</span>
                  <span class="btn-caption">App Store</span>
              </a>
          </p>
      </div>
  </div>