<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">This Communication Design class has been crucial to help me develop the various essential graphic design techniques that a designer needs to know. At the beginning of the semester each student was asked to choose their "favorite designer", then a long analysis was conducted on the characteristics, style and work of this designer in order to better understand his techniques and peculiarities. Subsequently I produced three different graphic works representing the work of David Carson, the designer of my choice, through my point of view.                     
                    </p>
            </div>
        </div>
    </div>
</section>