<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">Due to the rapid spread of the coronavirus most countries in the world made the drastic decision to stop their economies, close all unnecessary activities and told all citizens to stay at home. 
                    Although being forced to stay locked indoors for weeks is not pleasant for anyone, we must also consider that there are considerable differences from person to person. So I focused my research on the serious psychological fallout that this situation will have on college students and I tried to find a design solution that can improve their life during this difficult time.                     
                    </p>
            </div>
        </div>
    </div>
</section>