<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">Telling a story through a photograph collection is not easy but it is the only way to describe oneself on a global level, it is the only tool that does not encounter language or educational obstacles. 
                    Through this small photographic collection, I have tried to represent a part of the most important experience of my life and how it has been totally changed because of the beginning of the covid-19 pandemic. 
                    The aim of the project is therefore to transmit a part of my experience to the viewer, trying to make them understand the emotions I felt during that period.
                    </p>
            </div>
        </div>
    </div>
</section>