<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">The main focus of Arnaldo Pomodoro's exhibition is the crack, always present in his work of art, and the techniques he uses to create it. The temporary exhibition is set up at the PAC (Pavilion of Contemporary Art) in Milan, the area is organized in five huge rooms located on the first floor plus a large corridor overlooking a huge window. The first room presents the artist through a photographic collection of his most important sculptures. A detailed analysis of four medium-sized works follows one another in the other rooms, where the different "cracks" are explained and associated with specific natural phenomena. 
                    The visit ends in the bright laboratory located along the corridor where visitors can experience the "negative" technique that Arnaldo Pomodoro uses for his works.
                    </p>
            </div>
        </div>
    </div>
</section>