<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">ENHANCE is a hybrid space located in Milan in via Durando, Bovisa area.  The aim of the project was to bring technology and innovation into the district, two characteristics that I'd like to become part of tomorrow's Bovisa area and that, at the same time, identify with the values of a leading company like Tesla. 
                    In ENHANCE, suitable spaces have been created for two different activities: a coworking area - where tools and creativity can be shared - and a gym, in order to offer users the possibility to do their work while enhancing the liveliness of thought thanks to physical activity. 
                    </p>
            </div>
        </div>
    </div>
</section>