<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">"All Around" is a project designed for the Alzheimer's residence of Grace, a facility located near Milan. The starting point was to think about how I could make the patients' rooms welcoming and personalized, while at the same time ensuring an easy reading of the different spaces for patients in advanced stage. I therefore created a structure characterized by standardized elements that adapt to the space in which they are placed creating different compositions. As I wanted to emphasize in the title, this system is applied on all four walls of the room in order to create a homogeneous environment where patients can feel at home.</p>
            </div>
        </div>
    </div>
</section>
