<div class="container" id="download">
    <div class="row text-center">
        <br/>
        <p>
            <a href="https://apps.apple.com/us/app/the-college-community/id1530131879" class="btn btn-store">
                <span class="fa fa-apple fa-3x pull-left"></span>
                <span class="btn-label">Download on the</span>
                <span class="btn-caption">App Store</span>
            </a>
        </p>
    </div>
    <div class="row text-center">
      <br/>
      <p>
          <a href="https://play.google.com/store/apps/details?id=com.thecollegecommunity.thecommunityapp" class="btn btn-store">
              <span class="fa fa-play fa-3x pull-left"></span>
              <span class="btn-label">Download on</span>
              <span class="btn-caption">Google Play</span>
          </a>
      </p>
  </div>
</div>