
<div class="container" id="faq" style="margin-top: 70px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Frequently Asked Questions</h2>
            <hr class="primary">
            <h3 class="accordion" style="color: darkred;">> How often will I get a new buddy?</h3>
            <div class="panel">
                <p>We match you with a new buddy a few times a week. If you have more than 3 new buddies who you haven't chatted with or removed (you won't get matched with that buddy again) yet, then you won't get matched with a new buddy during the new cycle.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> How do I remove a buddy?</h3>
            <div class="panel">
                <p>Click on the little info circle next to your buddy's name. You'll be moved to the buddy's profile where you'll see a "remove buddy" button.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> How can I change my profile picture?</h3>
            <div class="panel">
                <p>Your profile picture is taken directly from your andrew gmail account. To change your profile in the app, go to your andrew gmail account and change your profile picture there first. After a few minutes refresh the app and you should see the new profile picture on your profile page.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> Where can I access all my chats?</h3>
            <div class="panel">
                <p>You'll be able to see your new messages from all individuals by navigating to the Buddies page and clicking on Messaging icon in the top right corner. For full chat histories for study groups and study partners, you'll need to navigate to those chats through the groups on the collaboration page. For chat histories with buddies, you can click on the chat icon next to your buddies name on the Buddies homepage. We will be optimazing this feature, among others, in future updates.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> How do I upload classes and other events into my in-app calendar?</h3>
            <div class="panel">
                <p>Our app works by creating a new calendar in your phone called "Community". If you want certain events to be shown in your in-app calendar, all you have to do is add those events on your phone calendar.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> Why isn't my Community in-app calendar working?</h3>
            <div class="panel">
                <p>It's likely that you haven't given the app permission to access your phone calendar and/or your reminders. BOTH the calendar and reminders must be enabled on your phone for the calendar to work.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> How can I change settings for push notifications and calendar permissions?</h3>
            <div class="panel">
                <p>Go to the settings page of your phone and enable push notifications and permission on there. Refresh the app and try again.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> Can I add my Community events to Google Calendar instead of iCal (iPhone)?</h3>
            <div class="panel">
                <p>With the way our app works, we have to have access to your iCal calendar, but you can sync your Google Calendar and iCal calendar! First, make sure you have a calendar called "Community" in iCal and it's turned on. Then, go to Google Calendar on your iPhone and tap the three lines in the upper left corner. Scroll all the way down and tap on Settings. Then, go down to Manage Settings and turn on the slider next to iCloud. Your Community iCal and Google Calendar should be synced! If they're not synced, try going to iCloud settings on your iPhone and turning on the Calendar setting.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> My club's event is showing up on the Bridge but I don't see it on the Events page?</h3>
            <div class="panel">
                <p>Our servers get updated *every night. Once you upload your event on the Bridge, please wait 24 hours before checking to make sure it's on the Events page.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> How can I delete an event from my Community calendar?</h3>
            <div class="panel">
                <p>You must delete the corresponding event on your phone calendar for the event to be deleted on your Community calendar.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> Changes I make on the app aren't showing up?</h3>
            <div class="panel">
                <p>Oftentimes, refreshing the app will help solve this problem. Try closing out of the app and reopening it.</p>
            </div>
            <h3 class="accordion" style="color: darkred;">> How do I terminate my account?</h3>
            <div class="panel">
                <p>If you're not happy with our service, we'd appreciate it if you could email us first so we can talk about how we can make your experience better. If you'd like to directly terminate your account, please email us at team@thecollegecommunity.com with the subject header "TERMINATE MY ACCOUNT". After your account has been terminated, all your personal information, chats, buddies and study groups will be permanently deleted and will not be recoverable.</p>
            </div>
        </div>
    </div>
</div>
