<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
                <hr class="primary">
                <h3 style="color: darkred;">How often will I get a new buddy?</h3>
                <p>We match you with a new buddy 3 times a week. If you have more than 3 new buddies who you haven't chatted with or removed (you won't get matched with that buddy again) yet, then you won't get matched with a new buddy during the new cycle.</p>
                <h3 style="color: darkred;">How do I remove a buddy?</h3>
                <p>Click on the little info circle next to your buddy's name. You'll be moved to the buddy's profile where you'll see a "remove buddy" button.</p>
                <h3 style="color: darkred;">My club's event is showing up on the Bridge but I don't see it on the Events page?</h3>
                <p>Our servers get updated *every night. Once you upload your event on the Bridge, please wait 24 hours before checking to make sure it's on the Events page.</p>
                <h3 style="color: darkred;">How can I delete an event from my Community calendar?</h3>
                <p>You must delete the corresponding event on your phone calendar for the event to be deleted on your Community calendar.</p>
                <h3 style="color: darkred;">Changes I make on the app aren't showing up?</h3>
                <p>Oftentimes, refreshing the app will help solve this problem. Try closing out of the app and reopening it.</p>
                <h3 style="color: darkred;">How do I terminate my account?</h3>
                <p>If you're not happy with our service, we'd appreciate it if you could email us first so we can talk about how we can make your experience better. If you'd like to directly terminate your account, please email us at team@thecollegecommunity.com with the subject header "TERMINATE MY ACCOUNT". After your account has been terminated, all your personal information, chats, buddies and study groups will be permanently deleted and will not be recoverable.</p>
            </div>
        </div>
    </div>
</section>
<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Feedback</h2>
                <hr class="primary">
                <p>If you have any further question... </p>
                <a href="https://docs.google.com/forms/d/1-_mG6-J8vXQM6BprzvztoQqc-58JWqB1TkhyNjjNols/viewform?ts=5f611758&edit_requested=true">
                    <h3 style="color: darkred;">Leave a comment!</h3> 
                </a>
            </div>
        </div>
    </div>
</section>
