<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
                <hr class="primary">
                <b style="color: darkred;" style="font-size:1.5vw;">How often will I get a new buddy?</b>
                <p>We match you with a new buddy 3 times a week. If you have more than 3 new buddies who you haven't chatted with or removed (you won't get matched with that buddy again) yet, then you won't get matched with a new buddy during the new cycle.</p>
                <b style="color: darkred;">How do I remove a buddy?</b>
                <p>Click on the little info circle next to your buddy's name. You'll be moved to the buddy's profile where you'll see a "remove buddy" button.</p>
            </div>
        </div>
    </div>
</section>