<section id="feedback">
    <div class="container">
        <div class="row">
            <div style="margin-bottom: 50px;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Feedback</h2>
                    <hr class="primary">
                    <p>We worked really hard for this app to be as fun and useful to you as possible, and we promise to do our absolute best to take your feedback in consideration as we continue to improve our app! If you have 30 seconds, please help us out and give us some quick feedback! And if you have any suggestions for what you'd like to see on this app in the future, we'd love to hear your thoughts!</p>
                    <a href="https://docs.google.com/forms/d/1-_mG6-J8vXQM6BprzvztoQqc-58JWqB1TkhyNjjNols/viewform?ts=5f611758&edit_requested=true">
                        <h3 style="color: darkred;">Give Feedback!</h3> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
