<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet our team!</h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/NINAZANARELLI.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nina Zanarelli
                            </div>
                            <div class="project-name">
                                Nina is an Italian girl who spent one semester at CMU where she decided to start this project with her co-founder Snehita. She is an art enthusiast who loves travel and meet new people from all over the world!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/SNEHITA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Snehita Sana
                            </div>
                            <div class="project-name">
                                Snehita is a rising senior at CMU! Snehita is an active part of the Undergraduate Entrepreneurship Association and International Student Union on campus. In her free time, she loves to read, eat chocolate, and work on her photography. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/SARAYU.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sarayu Namineni
                            </div>
                            <div class="project-name">
                                Despite hailing from sunny California, Sarayu spends all her time indoors, curled up around her laptop or a good book! 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/ESHITAKAR.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Eshita Kar
                            </div>
                            <div class="project-name">
                                Eshita is a chocolate-lover and stuffed animal enthusiast trying to explore the world of technology to better people's lives! 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/SHREYA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shreya Manjunath
                            </div>
                            <div class="project-name">
                                Shreya is a TV-show enthusiast from Bangalore, India!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/HELENDONG.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Helen Dong
                            </div>
                            <div class="project-name">
                                HelenI like to spend her time learning different programming languages!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/ANONIMO.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Alex Rudenko
                            </div>
                            <div class="project-name">
                                Alex likes doing math for fun and applying it in real life for the society! Besides science, he loves teaching and he's very much into sports.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/HITA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ricky Chen
                            </div>
                            <div class="project-name">
                                Ricky is currently a student studying Design, Architecture, and Human-Computer Interaction at Carnegie Mellon University.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/ROSSO.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                             
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
