<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet our team!</h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/NINAZANARELLI.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nina Zanarelli
                            </div>
                            <div class="project-name">
                                Nina is an Italian girl who spent one semester at CMU where she decided to start this project with her co-founder Snehita. She worked on the design of the Community App. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/SNEHITA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Snehita Sana
                            </div>
                            <div class="project-name">
                                Snehita is a rising senior at CMU! Snehita is an active part of the Undergraduate Entrepreneurship Association and International Student Union on campus. In her free time, she loves to read, eat chocolate, and work on her photography. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/SARAYU.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sarayu Namineni
                            </div>
                            <div class="project-name">
                                Despite hailing from sunny California, Sarayu spends all her time indoors, curled up around her laptop or a good book! In this project, Sarayu worked on the backend and oversaw frontend integration.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/ESHITAKAR.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Eshita Kar
                            </div>
                            <div class="project-name">
                                Eshita is a chocolate-lover and stuffed animal enthusiast trying to explore the world of technology to better people's lives! Eshita helped implement the schedule portion of the app. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/SHREYAMANJUNATH.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shreya Manjunath
                            </div>
                            <div class="project-name">
                                Shreya worked on implementing the calendar functionality as well as the functionality that allows students to add courses and university events to their calendar. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/HELENDONG.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Helen Dong
                            </div>
                            <div class="project-name">
                                Helen worked on the front end and backend of the buddies section.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/ANONIMO.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Chloe Chen
                            </div>
                            <div class="project-name">
                                Description
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/HITA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hita Kambhamettu
                            </div>
                            <div class="project-name">
                                Hita loves films, traveling around the world, and cheesecake. She wants to make a tangible difference in her community using technology. Hita helped implement the buddy portion of the app.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/teamface/RICKYCHEN.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ricky Chen
                            </div>
                            <div class="project-name">
                                Ricky is currently a student studying Design, Architecture, and Human-Computer Interaction at Carnegie Mellon University. He worked on refinding the designs of the app.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
