<article >
    <div class="container">
        <img class="projectsix" src="../img/mostra/im1.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/mostra/im2.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/mostra/im3.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/mostra/im4.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/mostra/im5.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/mostra/im6.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/mostra/im7.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/mostra/im8.jpg">
    </div>
</article>