<article >
    <div class="container">
        <img class="projectsix" src="../img/community/pic1.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic2.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic3.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic4.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic5.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic6.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic7.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic8.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic9.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic10.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic11.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/community/pic12.jpg">
    </div>
    <div class="container">
        <video class="projectsix" controls poster="../img/copertinavideo1.jpg">
            <source src="../video/prototypevideo.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video> 
    </div>
</article>