<article >
    <div class="container">
        <img class="projectsix" src="../img/carson/fig1.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig2.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig3.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig4.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig5.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig6.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig7.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig8.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig9.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig10.jpg">
    </div>
    <div class="container">
        <img class="projectsix" src="../img/carson/fig11.jpg">
    </div>
    <div class="container">
        <video class="projectsix" controls poster="../img/copertinavideo2.jpg">
            <source src="../video/davidcarson.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video> 
    </div>
</article>