<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Academic Career</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary"></i>
                    <h3>September 2017</h3>
                    <p class="text-muted">Beginning of studies at the Politecnico di Milano</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>January 2020</h3>
                    <p class="text-muted">Beginning of the exchange semester at the Carnegie Mellon University</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>July 2020</h3>
                    <p class="text-muted">Graduation in Interior Design</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>September 2020</h3>
                    <p class="text-muted">Beginning Product Service System Design Master at the Politecnico di Milano</p>
                </div>
            </div>
        </div>
    </div>
</section>
