<section class="bg-primary" id="meet">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet our team!</h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="team">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/NINAZANARELLI.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nina Zanarelli
                            </div>
                            <div class="project-name">
                                Nina is an Italian girl who spent one semester at CMU where she decided to start this project with her co-founder Snehita. She is an art enthusiast who loves travel and meet new people from all over the world!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/SNEHITA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Snehita Sana
                            </div>
                            <div class="project-name">
                                Snehita is a rising senior at CMU! Snehita is an active part of the Undergraduate Entrepreneurship Association and International Student Union on campus. In her free time, she loves to read, eat chocolate, and work on her photography. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/SARAYU.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sarayu Namineni
                            </div>
                            <div class="project-name">
                                Despite hailing from sunny California, Sarayu spends all her time indoors, curled up around her laptop or a good book! 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/ESHITAKAR.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Eshita Kar
                            </div>
                            <div class="project-name">
                                Eshita is a chocolate-lover and stuffed animal enthusiast trying to explore the world of technology to better people's lives! 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/SHREYA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shreya Manjunath
                            </div>
                            <div class="project-name">
                                Shreya is a TV-show enthusiast from Bangalore, India!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/HELENDONG.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Helen Dong
                            </div>
                            <div class="project-name">
                                Helen like to spend her time learning different programming languages!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/ALEX.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Alex Rudenko
                            </div>
                            <div class="project-name">
                                Alex likes doing math for fun and applying it in real life for the society! Besides science, he loves teaching and he's very much into sports.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/STE.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stefano Cortinovis
                            </div>
                            <div class="project-name">
                                Stefano is a former exchange student at CMU. He loves getting his hands dirty with tech and pulling pranks on Nina!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/team/ARTHI.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Arthi Krishnaswami
                            </div>
                            <div class="project-name">
                                Arthi is a CMU Design grad (CPID ’06) and lives in NYC. She teaches Design for Social Innovation. She works at the intersection of public policy, design, and technology with a variety of public and private sector institutions on projects that enable informed decision-making for a wide range of audiences. She is the founder of RyeCatcher  an application schools use to support students with special needs and from at-risk environments. She founded the Community Success Institute to design, develop and implement software and resources to improve outcomes for communities. She collaborated with Professor Ross Cheit, Brown University, to design and develop the information visualization series featured in the Witch-hunt Narrative (Oxford), co-authored a paper about the readability of GIS emergency maps  and is working on data visualizations for a book about the Politics of Fish.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
