<div class="terms">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4"><a class="text-center">© 2020 The Student Community, Inc.</a></div>
    <div class="col-xs-4 col-sm-4 col-md-4"><a class="text-center" href="https://thecollegecommunity.com/TermsOfService.pdf?fbclid=IwAR3nw9CKYkgW--Nzso3nQx4g1BHyQart0dJgiCk6FIM3vDT1rCcZbKNQr2w">Terms of Service</a></div>
    <div class="col-xs-4 col-sm-4 col-md-4"><a class="text-center" href="https://thecollegecommunity.com/PrivacyPolicy.pdf?fbclid=IwAR3nw9CKYkgW--Nzso3nQx4g1BHyQart0dJgiCk6FIM3vDT1rCcZbKNQr2w">Privacy Policy</a></div>
  </div>
</div> 