<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="service-box">
                    <a href="https://thecollegecommunity.com/TermsOfService.pdf?fbclid=IwAR3K7DTN63FiGrAbqFCtOpt6FP9rUYggLKnJrxf18Iszy1FdwRp6EN6aTUQ" class="btn btn-primary btn-xl page-scroll">
                        <small style="color:ghostwhite">Terms of Service</small>
                    </a>   
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-box">
                    <a href="https://thecollegecommunity.com/PrivacyPolicy.pdf?fbclid=IwAR3K7DTN63FiGrAbqFCtOpt6FP9rUYggLKnJrxf18Iszy1FdwRp6EN6aTUQ" class="btn btn-primary btn-xl page-scroll">
                        <small style="color:ghostwhite">Privacy Policy</small>
                    </a>   
                </div>
            </div>
        </div>
    </div>
</section>